.App {
  text-align: center;
  background-color: var(--primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: var(--light);
  padding: 20px;
}

.App-header {
  margin: 3rem;
}
